<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>ANS #V#(#N#) #A#: #T#</title>
  <link rel="stylesheet" type="text/css" href="/ans.css"/>
</head>

<body>
  <h2>Archive of Numerical Software #V#(#N#), #P#, #Y#</h2>
  <h1>#T#</h1>
  <h2>#A#</h2>
  
<p>
ABSTRACT
</p>

<img src="" alt=""/>

<h3>Available media</h3>
<ul>
<li> <a href="http://journals.ub.uni-heidelberg.de/index.php/ans/article/view/">Article in OJS</a></li>
<li> <a href="http://journals.ub.uni-heidelberg.de/index.php/ans/article/view/">Article (PDF)</a></li>
<li> <a href="">Source code (tgz)</a></li>
<li> <a href="doc">Online documentation</a>
</ul>
</body>
</html>
